{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
  },
	"root": true,
	"rules": {
		"no-unused-vars": "warn",
		"semi": "warn",
		"no-multi-spaces": "warn",
		"indent": ["warn", 2],
		"no-multiple-empty-lines": "warn",
		"eol-last": "warn"
	},
	"extends": [
		"eslint:recommended"
	],
	"ignorePatterns": ["node_modules/", "dist/"]
}
